@charset "utf-8";
.row .col-md-6 .img-fluid.rounded-circle {
    margin-right: 21px;
    margin-top: 1px;
}
.row .col-md-6 .img-fluid {
    margin-right: 22px;
    margin-top: 3px;
}

.row .col-md-6 .img-fluid {
}
.row .col-md-6 .img-fluid {
}
.row .col-md-6 .img-fluid {
}
